{% extends 'index_base.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
    <li><i class="fa fa-home" aria-hidden="true"></i><a href={% url "project:index" %}>工程管理</a></li>

    <li><a>工程查询</a></li>
{% endblock %}
{% block main_content %}







    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <h4><i class="fa fa-edit" aria-hidden="true"></i><a href={% url "project:ProjectCreateView" %}>新增工程</a></h4>

                    <form action="" class="form-inline" method="get" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="" class="form-control" id="query" name="query" placeholder="厂规名、负责人">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">模糊查询</button>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table id="basic-table" class="table table-striped nowrap table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                {% for each in field_verbose_name %}
                                    <th>{{ each }}</th>

                                {% endfor  %}

                            </tr>
                            </thead>
                            <tbody>
                            {% for each in all %}
                                <tr>
                                <td><a href="{{ each.get_absolute_url }}">

                                        {{ each.name }}
                                    </a>
                                </td>

                                <td>
                                    <a href="{{ each.org.get_absolute_url }}">
                                        {{ each.org.job_name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ each.work.get_absolute_url }}">
                                        {{ each.work.job_name }}
                                    </a>
                                </td>

                                <td>{{ each.author }}</td>
                                <td>{{ each.create_time }}</td>
                                <td>{{ each.updated }}</td>
                                <td>{{ each.last_update_user }}</td>
                                <td>
                                    <a title="查看厂规" href="{{ each.factory_rule.get_absolute_url }}">
                                        {{ each.factory_rule.factory_rule_name }}
                                    </a>
                                    <div class="btn-group btn-group-xs">


                                        {% if each.factory_rule %}
                                            <button class="btn btn-transparent" title="编辑厂规" onclick="window.location.href='{{ each.factory_rule.get_absolute_url_edit }}';"><i class="fa fa-pencil"></i>
                                            </button>
                                            <button class="btn btn-transparent" title="删除厂规" onclick="window.location.href='factory_rule_delete/{{ each.id }}';"><i class="fa fa-times"></i>
                                            </button>
                                        {% endif %}
                                        {% if not each.factory_rule %}
{#                                            <button class="btn btn-transparent" title="新增厂规" onclick="window.location.href='/admin/account/factoryrule/add/?_to_field=id&_popup=1';"><i class="fa fa-plus"></i>#}
{#                                            </button>#}
{#                                            <a href="#" class="btn btn-primary glyphicon glyphicon-search" data-toggle="tooltip" onclick="prom()" data-placement="top" title="使用模态框"></a>#}
                                            <a href="#" class="fa fa-plus" data-toggle="tooltip" onclick="prom()" data-placement="top" title="添加厂规"></a>




                                        {% endif %}



                                    </div>

                                </td>
                                <td>{{ each.customer_rule_status }}</td>
                                <td>{{ each.create_type }}</td>
                                <td>{{ each.status }}</td>
                                <td>{{ each.remark }}</td>


                                <td>
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-transparent" onclick="window.location.href='ProjectUpdateView/{{ each.id }}';"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-transparent" onclick="window.location.href='{{ each.get_absolute_url }}';"><i class="fa fa-eye"></i>
{#                                                                        <a href="job/{{ job.id }}">查看</a>#}
                                        </button>

                                        <button class="btn btn-transparent" onclick="window.location.href='ProjectDeleteView/{{ each.id }}';"><i class="fa fa-times"></i>
                                        </button>
{#                                        <button class="btn btn-transparent" onclick="window.location.href='share_job/{{ factoryrule.id }}';"><i class="fa fa-share-alt"></i>#}
{#                                        </button>#}
                                    </div>
                                </td>
                            </tr>


                            {% endfor %}



                            </tbody>
                        </table>
                        {% include 'pagination.html' with page=page_obj %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        onclick="closed()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    选择或新建厂规
                </h4>

                新建厂规
                <button class="btn btn-transparent" title="新建厂规" onclick="window.location.href='ProjectUpdateView/{{ each.id }}';"><i class="fa fa-plus-circle"></i>
                </button>
                <br>
                或从厂规模板选择
                <select>
                    <option value ="volvo">PHP中文网</option>
                    <option value ="saab">百度</option>
                    <option value="opel">腾讯</option>
                    <option value="audi">新浪</option>
                </select>





            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <script type="text/javascript">
        function prom(){
            $("#myModal").modal('show');
        }

    </script>

{% endblock %}
<script src={% static "javascripts/jquery.min.js" %}></script>



