{% extends 'index_base.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
    <li><i class="fa fa-home" aria-hidden="true"></i><a href={% url "project:index" %}>工程管理</a></li>

    <li><a>工程查询</a></li>
{% endblock %}
{% block main_content %}







    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <h4><i class="fa fa-edit" aria-hidden="true"></i><a href={% url "project:ProjectCreateView" %}>新增工程</a></h4>

                    <form action="" class="form-inline" method="get" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="" class="form-control" id="query" name="query" placeholder="工程名、负责人">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">模糊查询</button>
                        </div>
                    </form>

                    <div class="table-responsive">
                        <table id="basic-table" class="table table-striped nowrap table-hover" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                {% for each in field_verbose_name %}
                                    <th>{{ each }}</th>

                                {% endfor  %}

                            </tr>
                            </thead>
                            <tbody>
                            {% for each in all %}
                                <tr>
                                    <td><a href="{{ each.get_absolute_url }}">{{ each.name }}</a>
                                    </td>
                                    <td>
                                        <a href="{{ each.org.get_absolute_url }}">
                                            {{ each.org.job_name }}
{#                                            {{ each.org.file_odb }}#}
                                        </a>
                                        <button class="btn btn-transparent" title="下载原稿" onclick="window.location.href='/media/{{ each.org.file_odb }}';"><i class="fa fa-download"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <a href="{{ each.work.get_absolute_url }}">
                                            {{ each.work.job_name }}
                                        </a>
                                        <button class="btn btn-transparent" title="下载工作稿" onclick="window.location.href='/media/{{ each.work.file_odb }}';"><i class="fa fa-download"></i>
                                        </button>
                                    </td>
                                    <td>{{ each.author }}</td>
                                    <td>{{ each.create_time }}</td>
                                    <td>{{ each.updated }}</td>
                                    <td>{{ each.last_update_user }}</td>
                                    <td>

                                        <div class="btn-group btn-group-xs">
                                            {% if each.factory_rule %}
                                                <button class="btn btn-transparent" title="查看厂规：{{ each.factory_rule.factory_rule_name }}" onclick="window.location.href='{{ each.factory_rule.get_absolute_url }}';"><i class="fa fa-eye"></i>
                                                </button>

                                                <button class="btn btn-transparent" title="编辑厂规" onclick="window.location.href='{{ each.factory_rule.get_absolute_url_edit }}';"><i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-transparent" title="删除厂规" onclick="window.location.href='factory_rule_delete/{{ each.id }}';"><i class="fa fa-times"></i>
                                                </button>
                                            {% endif %}

                                            {% if not each.factory_rule %}
{#                                                author{{ each.author.id }}projectid{{ each.id }}#}
                                                <button class="btn btn-transparent" title="新建厂规" onclick="window.location.href='factory_rule_new/{{ each.author.id }}/{{ each.id }}';"><i class="fa fa-plus"></i>
                                                </button>
                                                <button class="btn btn-transparent" title="从模板选择厂规" onclick="window.location.href='factory_rule_select/{{ each.author.id }}/{{ each.id }}';"><i class="fa fa-list-alt"></i>
                                                </button>





                                            {% endif %}
                                        </div>

                                    </td>

                                    <td>

                                        <div class="btn-group btn-group-xs">
                                            {% if each.customer_rule %}

                                                <button class="btn btn-transparent" title="查看客规：{{ each.customer_rule.customer_rule_name }}" onclick="window.location.href='{{ each.customer_rule.get_absolute_url }}';"><i class="fa fa-eye"></i>
                                                </button>

                                                <button class="btn btn-transparent" title="编辑客规" onclick="window.location.href='{{ each.customer_rule.get_absolute_url_edit }}';"><i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-transparent" title="删除客规" onclick="window.location.href='customer_rule_delete/{{ each.id }}';"><i class="fa fa-times"></i>
                                                </button>
                                            {% endif %}

                                            {% if not each.customer_rule %}
{#                                                author{{ each.author.id }}projectid{{ each.id }}#}
                                                <button class="btn btn-transparent" title="新建客规" onclick="window.location.href='customer_rule_new/{{ each.author.id }}/{{ each.id }}';"><i class="fa fa-plus"></i>
                                                </button>
                                                <button class="btn btn-transparent" title="从模板选择客规" onclick="window.location.href='customer_rule_select/{{ each.author.id }}/{{ each.id }}';"><i class="fa fa-list-alt"></i>
                                                </button>





                                            {% endif %}
                                        </div>

                                    </td>

                                    <td>{{ each.create_type }}</td>
                                    <td>{{ each.status }}</td>
                                    <td>{{ each.remark }}</td>
                                    <td>
                                        <div class="btn-group btn-group-xs">
                                        <button class="btn btn-transparent" title="编辑" onclick="window.location.href='ProjectUpdateView/{{ each.id }}';"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-transparent" title="查看" onclick="window.location.href='{{ each.get_absolute_url }}';"><i class="fa fa-eye"></i>
{#                                                                        <a href="job/{{ job.id }}">查看</a>#}
                                        </button>

                                        <button class="btn btn-transparent" title="删除" onclick="window.location.href='ProjectDeleteView/{{ each.id }}';"><i class="fa fa-times"></i>
                                        </button>
{#                                        <button class="btn btn-transparent" onclick="window.location.href='share_job/{{ factoryrule.id }}';"><i class="fa fa-share-alt"></i>#}
{#                                        </button>#}
                                    </div>
                                    </td>
                            </tr>


                            {% endfor %}



                            </tbody>
                        </table>
                        {% include 'pagination.html' with page=page_obj %}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
        function prom(){
            $("#myModal").modal('show');
        }

    </script>

{% endblock %}
<script src={% static "javascripts/jquery.min.js" %}></script>



