{% extends 'index_base.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
    <li><i class="fa fa-home" aria-hidden="true"></i><a href={% url "job_manage:JobListView" %}>料号管理</a></li>
    <li><a>料号配置</a></li>
{% endblock %}
{% block main_content %}
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <h6></h6>
                        <div class="col-md-12">

                            <div class="col-md-6">


                                <h5 class="mb-lg ">比图参数设置</h5>

                                <form class="form-inline">
                                    <div class="form-group">
                                        <label style="width:10px;" class="vs_tol_ep" for="password4">悦谱比图精度：</label>
                                        <input type="text" class="form-control" id="vs_tol_ep" placeholder="vs_tol_ep">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">确认</button>
                                    </div>
                                </form>

                                <br>

                                <form class="form-inline">
                                    <div class="form-group">
                                        <label style="width:10px;" class="vs_tol_g" for="vs_tol_g">G软件比图精度：</label>
                                        <input type="text" class="form-control" id="vs_tol_g" placeholder="vs_tol_g">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">确认</button>
                                    </div>
                                </form>

                            </div>

                            <br>


                            {{ form }}
                            {{ job }}


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src={% static "javascripts/jquery.min.js" %}></script>

