<!DOCTYPE html>
{% load static  %}
<html>
<head>
    <meta charset="utf-8">
    <title>菜鸟教程(runoob.com)</title>
    <script src={% static "javascripts/jquery.min.js" %}></script>
    <script type="text/javascript" src='C:/cc/python/epwork/dms/collected_static/vendor/data-table/media/js/jquery.dataTables.min.js'></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src=" //cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>


</head>
<body>

    1
    <div>
        <input type="submit" id="button_submit1" value="提交">

        <select id="select_car" >
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>

        <script>
            $(document).ready(function(){

                $("#button_submit1").click(function(){
                    {#alert("abc")#}
                    $("#select_car").val("saab");
                });
            });

        </script>
    </div>
    <br>
    2
    <div>
        <input type="submit" id="button_submit2" value="提交">

        <select id="drl_ep" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <select id="drl_g" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>


        <script>
            $(document).ready(function(){

                $("#button_submit2").click(function(){
                    {#alert("abc")#}
                    $("#drl_g").val("4");
                });



                $("#drl_ep").change(function(){
                    {#alert("abc")#}
                    $("#drl_g").val("3");
                });

            });

        </script>
    </div>
    <br>
    3
    <div>
        <select id="drl_ep2" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <select id="drl_g2" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <select id="drl_eda" >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>


        <script>
            $(document).ready(function(){
                $("#drl_ep2").change(function(){
                    {#alert("abc")#}

                    //设置value为3的项被选中
                    $("#drl_g2").val("3");

                    //设置text为4的项选中
                    $("#drl_eda").find("option[text='4']").prop("selected", true);
                    $("#drl_eda").find("option[value='4']").prop("selected", true);
                    alert("hello")

                });

            });

        </script>
    </div>


















</body>
</html>
