<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>


<fieldset class="module aligned ">
    <div class="form-row field-from_object_pcb_factory">
        <div>
            <label for="id_from_object_pcb_factory">料号来源-板厂:</label>
            <input type="text" name="from_object_pcb_factory" id="id_from_object_pcb_factory" class="vForeignKeyRawIdAdminField">
            <a href="/admin/account/customer/?_to_field=id" class="related-lookup" id="lookup_id_from_object_pcb_factory" title="查询"></a>
            <div class="help">料号来源-板厂</div>

        </div>
    </div>
</fieldset>










