{% extends 'index_base.html' %}
{% load static  %}
{% block title %}悦谱数据管理系统{% endblock %}
{% block content_header_child %}
    <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">料号管理</a></li>
    <li><a>上传料号</a></li>
{% endblock %}
{% block main_content %}
    <div class="row animated fadeInUp">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabs">
                                <ul class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#home2" data-toggle="tab"><h4 class="section-subtitle"><b>单个上传 </b></h4></a></li>
                                    <li><a href="#profile2" data-toggle="tab"><h4 class="section-subtitle"><b>批量上传 </b></h4></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="home2">
{#                                            <h4 class="section-subtitle"><b>上传料号 </b></h4>#}
                                        <div class="panel">
                                            <div class="panel-content">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <form action="" method="post" enctype="multipart/form-data">
                                                                <head>
                                                                <meta charset="UTF-8">
                                                                <script src={% static "javascripts/jquery.min.js" %}></script>
                                                                <title>upload</title>
                                                            </head>
                                                                <!--ajax上传文件-->

                                                                {% csrf_token %}

                                                                <div class="form-group">
                                                                    <label for="righticon" class="col-sm-2 control-label">ODB++(.tgz)</label>
                                                                    <div class="col-sm-10">
                                                                        <div class="input-group">
                                                                            <input type="file" class="form-control" id="file_odb" name="file_odb" placeholder="路径">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="righticon" class="col-sm-2 control-label">原始资料（压缩包）</label>
                                                                    <div class="col-sm-10">
                                                                        <div class="input-group">
                                                                            <input type="file" class="form-control" id="file_compressed" name="file_compressed" placeholder="路径">

                                                                        </div>
                                                                </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="tooltip" class="col-sm-2 control-label">料号名称</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="job_name" name="job_name" placeholder="料号名称" data-toggle="tooltip" data-trigger="hover" data-original-title="Your tooltip content!">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="tooltip" class="col-sm-2 control-label">备注</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="remark" name="remark" placeholder="料号名称" data-toggle="tooltip" data-trigger="hover" data-original-title="Your tooltip content!">
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="tooltip" class="col-sm-2 control-label">负责人</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="author" name="author" placeholder="料号名称" data-toggle="tooltip" data-trigger="hover" data-original-title="Your tooltip content!">
                                                                    </div>
                                                                </div>

                                                                <td><input type="submit" value="提交"></td>

{#                                                                <div class="form-group">#}
{#                                                                <button type="submit" class="btn btn-primary" id="submit">Submit</button>#}
{#                                                            </div>#}
                                                                <script>
                                                                $(function () {
                                                                    $('#submit').click(function () {
                                                                        //ajax上传文件必须通过FormData对象传输数据
                                                                        var formdata = new FormData();

                                                                        var job_name = $('#job_name').val();
                                                                        {#var psd = $('#password').val();#}
                                                                        var csrf_data = $('input[name=csrfmiddlewaretoken]').val();
                                                                        //获取上传文件对象(文件句柄)：定位对象，转成DOM对象，取值(文件对象列表)
                                                                        var file_odb = $('#file_odb')[0].files[0];
                                                                        var file_compressed = $('#file_compressed')[0].files[0];


                                                                        {#formdata.append('psd', psd);#}
                                                                        formdata.append('csrfmiddlewaretoken', csrf_data);//csrf认证的键是固定的
                                                                        formdata.append('file_odb', file_odb);
                                                                        formdata.append('file_compressed', file_compressed);
                                                                        formdata.append('job_name', job_name);

                                                                        $.ajax({
                                                                            url: "{% url 'job_manage:job_upload_ajax' %}",
                                                                            type: 'post',
                                                                            data: formdata,
                                                                            processData: false,//不处理数据
                                                                            contentType: false,//不设置内容类型，按原格式传输
                                                                            success: function (response) {
                                                                                alert(response)
                                                                            }
                                                                        })
                                                                    })
                                                                })
                                                            </script>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile2">
                                        <div class="panel">
                                                <div class="panel-content">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <form class="form-horizontal form-stripe">

                                                                <div class="form-group">
                                                                    <label for="righticon" class="col-sm-2 control-label">ODB++(.tgz)批量文件所在文件夹</label>
                                                                    <div class="col-sm-10">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" id="button-addon" placeholder="路径">
                                                                                <span class="input-group-btn">
                                                                                    <button class="btn btn-primary" type="button">选择文件</button>
                                                                           </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="righticon" class="col-sm-2 control-label">原始资料（压缩包）批量文件所在文件夹</label>
                                                                    <div class="col-sm-10">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control" id="button-addon" placeholder="路径">
                                                                                <span class="input-group-btn">
                                                                                    <button class="btn btn-primary" type="button">选择文件</button>
                                                                           </span>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="tooltip" class="col-sm-2 control-label">料号名称</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="text" class="form-control" id="tooltip" placeholder="料号名称" data-toggle="tooltip" data-trigger="hover" data-original-title="Your tooltip content!">
                                                                    </div>
                                                                </div>



                                                                <div class="form-group">
                                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                                </div>

                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<script src={% static "javascripts/jquery.min.js" %}></script>
